body {
  background-image: url(../images/bg-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  font-weight: 200;
  color: #FFF;
  height: 100%;
  width: 100%;

}

a {
	text-decoration: none;
	color: #fff !important;
}

#home { 
	margin-top:10%; 
}

.box-principal {
	height:300px;
	margin:0 auto;
}

.box-principal p{ 
	margin-top: 15%;
}

img {
	text-align: center;
	margin: 0 auto;
}


.box-propaganda {
	height:300px;
	margin:0 auto;
}



h1 {
	font-family: 'Montserrat', sans-serif;
	color: #1ED760;
	font-weight: 600;
}

.button {
	background-color: rgba(0, 0, 0, 0.8);
	width: 300px;
	padding: 1em;
	color: #fff;
	margin-top: 2em;
}


p {
	color: #fff;
	text-decoration: center;
}